{{!-- Nombre del archivo --}}
{{> nav}} 
<div>
    <h1>Pagina Principal/Main - Index</h1>
    <a href='/productos'>Ir a Productos</a>
</div>
<form action="/" method="POST">
      <div class="mt-3">
        <label for="formGroupExampleInput" class="form-label">Ingrese su producto</label>
        <input type="text" class="form-control" id="formGroupExampleInput" name="name" placeholder="Ingrese su Producto">
      </div>
</form>
<div class="mt-3">
  <label for="formGroupExampleInput" class="form-label">Ingrese su producto</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese su Producto">
</div>
<div class="mt-3 d-flex justify-content-center btn-group" role="group" aria-label="Basic example">
  <button type="submit" class="btn btn-primary">Enviar</button> 
</div>
